@page
@using AdvantageTool.Utility
@model DeleteModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Resources

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<Localization> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Videos"];
}

<div class="container-fluid">
    <h4>@SharedLocalizer["VideoDelete"]</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    @SharedLocalizer["VideoSettings"]
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>@Html.DisplayNameFor(model => model.VideoModel.Id)</dt>
                        <dd>@Model.VideoModel.Id</dd>
                        <dt>@Html.DisplayNameFor(model => model.VideoModel.VideoId)</dt>
                        <dd>@Model.VideoModel.VideoId</dd>
                        <dt>@Html.DisplayNameFor(model => model.VideoModel.VideoType)</dt>
                        <dd>@Model.VideoModel.VideoType</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        <input type="hidden" asp-for="VideoModel.Id" />
        <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-secondary" /> |
        <a asp-page="./Index">@SharedLocalizer["BackToList"]</a>
    </form>
</div>